.RadSearchBox_Default {
  color: #333333;
  font: normal 12px/16px "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadSearchBox_Default .rsbInner {
    border-radius: 3px;
    border-color: #8e8e8e;
    color: #333333;
    background-color: white; }
    .RadSearchBox_Default .rsbInner.rsbHovered {
      border-color: #515151;
      color: black;
      background-color: white; }
    .RadSearchBox_Default .rsbInner.rsbFocused {
      border-color: #515151;
      color: black;
      background-color: white; }
    .RadSearchBox_Default .rsbInner.rsbDisabled {
      border-color: #d0d0d0;
      color: #a5a5a5;
      background-color: white; }
  .RadSearchBox_Default .rsbInput {
    font: normal 12px "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadSearchBox_Default .rsbEmptyMessage {
    color: #a5a5a5;
    font-style: italic; }
  .RadSearchBox_Default .rsbButton {
    border-radius: 2px;
    background-image: url('../images/common/radGradientButtonSprite.png');
    _background-image: none;
    background-image: -webkit-linear-gradient(top, transparent, transparent);
    background-image: -moz-linear-gradient(top, transparent, transparent);
    background-image: -ms-linear-gradient(top, transparent, transparent);
    background-image: -o-linear-gradient(top, transparent, transparent);
    background-image: linear-gradient(top, transparent, transparent); }
    .RadSearchBox_Default .rsbButton:hover {
      border-color: #515151;
      color: black;
      background-color: #c3c3c3;
      background-image: -webkit-linear-gradient(top, #e2e2e2 0%, #c3c3c3 100%);
      background-image: -moz-linear-gradient(top, #e2e2e2 0%, #c3c3c3 100%);
      background-image: -ms-linear-gradient(top, #e2e2e2 0%, #c3c3c3 100%);
      background-image: -o-linear-gradient(top, #e2e2e2 0%, #c3c3c3 100%);
      background-image: linear-gradient(top, #e2e2e2 0%, #c3c3c3 100%); }
    .RadSearchBox_Default .rsbButton:focus {
      border-color: #888888;
      color: black;
      background-color: #dedede;
      background-image: -webkit-linear-gradient(top, #c7c7c7 0%, #dedede 100%);
      background-image: -moz-linear-gradient(top, #c7c7c7 0%, #dedede 100%);
      background-image: -ms-linear-gradient(top, #c7c7c7 0%, #dedede 100%);
      background-image: -o-linear-gradient(top, #c7c7c7 0%, #dedede 100%);
      background-image: linear-gradient(top, #c7c7c7 0%, #dedede 100%); }
  .RadSearchBox_Default .rsbButtonSearch {
    border-radius: 0 3px 3px 0; }
    .RadSearchBox_Default .rsbButtonSearch .rsbIcon {
      background-image: url('../images/common/radActionsSprite.png');
      background-position: -2px -1882px; }
  .RadSearchBox_Default .rsbSCInner {
    border-radius: 3px 0 0 3px;
    background-image: url('../images/common/radGradientButtonSprite.png');
    _background-image: none;
    border-color: #8a8a8a;
    color: #333333;
    background-color: #e8e8e8;
    background-image: -webkit-linear-gradient(top, #faf9f9 0%, #e8e8e8 100%);
    background-image: -moz-linear-gradient(top, #faf9f9 0%, #e8e8e8 100%);
    background-image: -ms-linear-gradient(top, #faf9f9 0%, #e8e8e8 100%);
    background-image: -o-linear-gradient(top, #faf9f9 0%, #e8e8e8 100%);
    background-image: linear-gradient(top, #faf9f9 0%, #e8e8e8 100%); }
  .RadSearchBox_Default .rsbSCIcon {
    background-image: url('../images/common/radActionsSprite.png');
    background-position: -22px -422px; }
  .RadSearchBox_Default .rsbSCHovered {
    border-color: #515151;
    color: black;
    background-color: #c3c3c3;
    background-image: -webkit-linear-gradient(top, #e2e2e2 0%, #c3c3c3 100%);
    background-image: -moz-linear-gradient(top, #e2e2e2 0%, #c3c3c3 100%);
    background-image: -ms-linear-gradient(top, #e2e2e2 0%, #c3c3c3 100%);
    background-image: -o-linear-gradient(top, #e2e2e2 0%, #c3c3c3 100%);
    background-image: linear-gradient(top, #e2e2e2 0%, #c3c3c3 100%); }
  .RadSearchBox_Default .rsbSCFocused {
    border-color: #888888;
    color: black;
    background-color: #dedede;
    background-image: -webkit-linear-gradient(top, #c7c7c7 0%, #dedede 100%);
    background-image: -moz-linear-gradient(top, #c7c7c7 0%, #dedede 100%);
    background-image: -ms-linear-gradient(top, #c7c7c7 0%, #dedede 100%);
    background-image: -o-linear-gradient(top, #c7c7c7 0%, #dedede 100%);
    background-image: linear-gradient(top, #c7c7c7 0%, #dedede 100%); }
  .RadSearchBox_Default .rsbSCDisabled {
    border-color: #d0d0d0;
    color: #a5a5a5;
    background-color: #e8e8e8;
    background-image: -webkit-linear-gradient(top, #faf9f9 0%, #e8e8e8 100%);
    background-image: -moz-linear-gradient(top, #faf9f9 0%, #e8e8e8 100%);
    background-image: -ms-linear-gradient(top, #faf9f9 0%, #e8e8e8 100%);
    background-image: -o-linear-gradient(top, #faf9f9 0%, #e8e8e8 100%);
    background-image: linear-gradient(top, #faf9f9 0%, #e8e8e8 100%); }

.rsbPopup_Default {
  border-color: #8a8a8a;
  color: #333333;
  background: white;
  font: normal 12px "Segoe UI", Arial, Helvetica, sans-serif;
  line-height: 16px; }
  .rsbPopup_Default .rsbHeader,
  .rsbPopup_Default .rsbFooter {
    color: #333333;
    background-color: #eaeaea; }
  .rsbPopup_Default .rsbHeader {
    border-bottom-color: #8a8a8a; }
  .rsbPopup_Default .rsbFooter {
    border-top-color: #8a8a8a; }
  .rsbPopup_Default .rsbShowAll {
    border-top-color: #8a8a8a;
    color: #333333;
    background-color: #eaeaea; }
  .rsbPopup_Default .rsbListItemHovered {
    color: black;
    background-color: #dfdfdf; }
  .rsbPopup_Default .rsbListItemSelected {
    color: black;
    background-color: #c5c5c5; }
  .rsbPopup_Default .rsbListItemDisabled {
    color: #a5a5a5;
    background-color: transparent; }
  .rsbPopup_Default .rsbListItemLoading {
    color: black;
    background-color: #dfdfdf; }
